* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container_template {
  width: 80%;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

header .logo {
  padding-left: 70px;
  font-size: 28px;
  color: white;
  font-weight: 700;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 1s;
  padding-right: 20px;
}

/* transition : time delay  */
header nav a:hover {
  color: red;
}

header nav li {
  margin-left: 20px;
  font-weight: 300;
}

header nav a.active {
  color: red;
}

header nav ul {
  margin-right: 150px;
}

header {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border-bottom: 2px solid white;
}

/* dung absolute(loai bo dien tich header) thi width bi mat nen phai set lai */
/* end header */

/* start carousel */
.carousel {
  background-image: url(../image-video/home_slider.jpg);
  width: 100%;
  min-height: 600px;
  /* min-height: 100vh; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end carousel */
.carousel_content {
  padding-top: 100px;
  width: 30%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 28px;
}

.carousel_content p {
  width: max-content;
}

.carousel_content h2 {
  margin: 15px 0;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.carousel_content button {
  background-color: red;
  color: white;
  padding: 15px 25px;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  transition: 0.5s;
}

.carousel_content button:hover {
  background: #af2239;
}

.carousel .animate_down {
  color: white;
  font-size: 40px;
  margin-top: 50px;
  animation-name: arrow_down;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.service {
  background-color: black;
  padding: 100px 0px;
}

.service_title {
  padding-bottom: 20px;
}

.service_title h4 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
}

.service_title h3 {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.service_title p {
  text-align: center;
  padding-bottom: 20px;
  color: red;
  font-size: 15px;
  font-weight: lighter;
}

.service_item {
  padding: 0 15px;
}

.service .item_content {
  position: relative;
  background-color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px
}

.service .item_content::before {
  content: "";
  position: absolute;
  background: red;
  width: 5px;
  height: 0;
  top: 0;
  right: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.service .item_content:hover::before {
  height: 100%;
}

.item_content i {
  color: rgb(0, 0, 0, 0.5);
  padding-bottom: 10px;
  font-size: 30px;
}

.item_content p {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
}

.slick-dots li.slick-active button:before {
  color: red;
  opacity: 1;
}

.slick-dots li button:before {
  padding-top: 20px;
  font-size: 12px;
  color: white;
  opacity: 0.75;
}

/* end service */
/* start show case */

.showcase_container p,
.showcase_container span {
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5)
}

.showcase_container {
  padding: 100px 0px;
}

.showcase_item p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.showcase .workshowcase {
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: black
}

.showcase_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.showcase_item {
  width: 100%;
  height: 400px;
  background-color: red;
  position: relative;
}

.showcase_overlay i {
  color: black;
  text-align: center;
  padding-top: 18px;
}

.showcase_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.showcase_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(230, 43, 74, 0.6);
  opacity: 0;
}

.search {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.overlay_text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: rgb(255, 255, 255, 0.5);
}

.showcase_item:hover .showcase_overlay {
  opacity: 1;
}

.overlay_transition {
  transform: translateY(50px);
  transition: 0.5s;
}

.showcase_item:hover .overlay_transition {
  transform: translateY(0px);
}

/* END SHOWCASE */

.blog_container {
  padding: 80px 0px;
}

.blog_container p {
  color: rgb(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog_container h2 {

  text-align: center;
  font-size: 40px;
}

.blog_list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.blog_list img {
  width: 100%;
  filter: grayscale(30%) contrast(50%);
  cursor: pointer;
  transition: 0.3s;
}

.blog_list img:hover {
  filter: none;
}

.blog_item1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.blog_item10 {
  grid-column: 3/5;
  grid-row: 3/5;
}

/* end */
/* Number */

.number {
  background-color: #000;
  padding: 100px;
  color: #fff;
}

.container_number {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number_item span {
  font-weight: 300;
  font-size: 50px;
}

.number_item p {
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 255, 255, 0.5);
}

.number_item {
  padding-left: 20px;
  padding-right: 20px;

}

/* EndNumber */
/* Experience */
.experience {
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  background-image: url(../image-video/bussiness_img_1.jpg);
  text-align: center;
}

.title {
  padding-top: 100px;
}

.title .title1 {
  font-weight: 300;
  color: rgb(255, 0, 0, 0.5);
  font-size: 15px;
}

.title h2 {
  font-weight: 300;
  padding-top: 15px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.title p {
  padding-top: 20px;
  color: rgb(255, 255, 255, 0.5);
}

.experience video {
  width: 75%;
  margin: 30px auto 0;
}

/* END experience */
/* CONTACT */

.contact {
  text-align: center;
  padding: 100px 0;
  align-items: center;
}

.mapform {
  justify-content: center;
  display: flex;
  padding-top: 50px;
}

.contact p {
  font-size: 40px;
  font-weight: 500;

}

.contact h3 {
  font-weight: 300;
  padding-top: 20px;
  color: rgb(0, 0, 0, 0.5);
}

.form {
  padding-left: 30px
}

.mapform form {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
}

/* .mapform .map {
  /* width: 60%; */


.form input,
.form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}

.mapform .button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

.mapform .button {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s;
}

/* Footer */

footer {
  background-color: #000;
}

.footer_content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.footer_content p {
  font-size: 15px;
  color: white;
}

.footer_content a {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
  color: #ffffff;

  transition: all .5s;
}

.footer_content a:hover {
  background-color: #e62b4a;
}

/* Back to top */

.backToTop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  /* transform: translateY(-100%); */
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  /* transform: translateY(0); */
}

/* .cd-top--fade-out {
  opacity: 0.5;
} */

/* End Back to top */



@keyframes arrow_down {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}